/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/* font-family: 'Paytone One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Paytone+One&display=swap');
/* font-family: 'Passion One', cursive; 
font-family: 'Paytone One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,900;1,400&display=swap');

/* variables */
:root {
    --background-color: #2b1055;
    --background-color2: #7597de;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Paytone One', sans-serif;
    --sub-font: 'Passion One', cursive;
    --sub-font-sans: 'Paytone One', sans-serif;
}
/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: linear-gradient(var(--background-color), var(--background-color2));
    overflow-x: hidden;
}
.landing {
    height: 100vh;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}
.nav ul li {
    list-style-type: none;
}
.nav-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.nav-item {
    color: white;
    font-family: var(--main-font);
    font-weight: 900;
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
}
.nav-item:hover {
    background-color: wheat;
    color: rgb(82, 82, 82);
    transition: background-color 1s ease;
}
.logo {
    color: white;
    font-family: var(--main-font);
    font-weight: 800;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.5rem;
    border-left: 2px solid white;
}

.stars {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
}
.moon {
    position: absolute;
    top:0;
    left: 40%;
    object-fit: contain;
    z-index: -2;
    mix-blend-mode: screen;
    animation: screen-blend 0s forwards;
}
.mountainBhnd {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
.mountainFrnt {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 3;
}
.name {
    position: absolute;
    color: white;
    white-space: nowraw;
    font-size: 8.5rem;
    z-index: 2;
    font-family: var(--main-font);
    top: 30%;
    right: -20rem;
}
.landing::after {
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    background: linear-gradient(to top, var(--background-color), transparent)
}
.myWork {
    height: 100vh;
    background-color: #fff;
    background-color: var(--background-color);
}

@keyframes screen-blend {
    from {
        mix-blend-mode: screen;
    } to {
        mix-blend-mode: screen;
    }
}